body {
  font-weight: 300;
}
b,
strong {
  font-weight: 700;
}
.heading-primary {
  color: #03582d;
}
.btn {
  position: relative;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-transform: uppercase;
  border: 0;
}
.btn:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 4px;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 1em);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 1em);
}
.form-control {
  box-shadow: none;
}
.page-header {
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0;
  border-bottom: 0;
  color: #999;
  background-color: #fff;
}
.page-header-logo-teamprime {
  float: right;
}
.page-header-heading {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 1;
  white-space: nowrap;
}
.page-header-heading > span {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
.page-header-heading > span span {
  display: block;
}
.page-intro {
  text-align: center;
  background: #ebebe8 url(../img/intro.jpg) no-repeat center / auto 100%;
}
.page-intro .container {
  position: relative;
  height: 360px;
}
.page-intro-logo {
  position: absolute;
  top: 0;
  right: 15px;
  width: 207px;
}
.page-intro-logo img {
  display: block;
  width: 236px;
  height: auto;
  margin-left: -15px;
}
.page-body {
  padding-top: 40px;
}
.page-body .container {
  background: #fff;
  margin-top: -80px;
  padding: 40px;
}
.page-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-top: 1px solid #eee;
}
.file-list {
  margin: -20px;
}
.file-list .col {
  padding: 20px;
  text-align: center;
}
.file-list .item + .item {
  border-top: 1px solid #eee;
}
.file-image {
  position: relative;
  padding-top: 56.25%;
  background-color: #eee;
  overflow: hidden;
}
.file-image img {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: 100%;
  height: -webkit-calc(102%);
  height: calc(102%);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (min-width: 992px) {
  .page-header-heading {
    margin-left: 25px;
    margin-top: 15px;
    font-size: 44px;
  }
  .page-header-heading > span span {
    display: inline;
  }
  .page-header-logo-teamprime {
    width: 207px;
    text-align: center;
  }
  .page-header-logo-teamprime,
  .page-intro-logo {
    margin-right: 25px;
  }
  .file-list .item {
    display: table;
    width: 100%;
  }
  .file-list .col {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
  .file-list .col + .col {
    margin-top: 0;
  }
  .file-list .col:first-child {
    width: 40%;
  }
  .file-list .col:last-child {
    width: 20%;
  }
}

/*# sourceMappingURL=app.css.map */