// 
// Variables
// --------------------------------------------------

// Import core variables
@import "../../vendor/bower/bootstrap/less/variables.less";


//
// Colors
//

@brand-primary: #03582d;

//
// Typography
//

@font-family-sans-serif: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
@text-color: @gray-light;
@font-size-base: 16px;
@line-height-base: 1.375; // 22/16
@headings-font-weight: inherit;