//
// App
// --------------------------------------------------

// Import Bootstrap variables
@import "../bootstrap/variables.less";

body {
	font-weight: 300;
}

b, strong {
	font-weight: 700;
}

.heading-primary {
	color: @brand-primary;
}

.btn {
	position: relative;
	padding-left: 1.5em;
	padding-right: 1.5em;
	text-transform: uppercase;
	border: 0;
}

.btn:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	border-radius: 4px;
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0) 1em);
}

.form-control {
	box-shadow: none;
}

.page {
	&-header {
		margin-top: 0;
		margin-bottom: 0;
		padding: 20px 0;
		border-bottom: 0;
		color: #999;
		background-color: #fff;
	
		&-logo-teamprime {
			float: right;
		}

		&-heading {
			margin-top: 5px;
			margin-bottom: 0;
			font-size: 36px;
			line-height: 1;
			white-space: nowrap;
				
			> span {
				display: inline-block;
				vertical-align: middle;
				white-space: nowrap;
		
				span {
					display: block;
				}
			}
		}
	}

	&-intro {
		text-align: center;
		background: #ebebe8 url(../img/intro.jpg) no-repeat center / auto 100%;

		.container {
			position: relative;
			height: 360px;
		}

		&-logo {
			position: absolute;
			top: 0;
			right: 15px;
			width: 207px;

			img {
				display: block;
				width: 236px;
				height: auto;
				margin-left: (ceil((236 - 207) / 2) * -1px);
			}
		}
	}

	&-body {
		padding-top: 40px;

		.container {
			background: #fff;
			margin-top: -80px;
			padding: 40px;
		}
	}

	&-footer {
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		border-top: 1px solid #eee;
	}
}

.file-list {
	margin: -20px;

	.col {
		padding: 20px;
		text-align: center;
	}

	.item + .item {
		border-top: 1px solid #eee;
	}
}

.file-image {
	position: relative;
	padding-top: 56.25%;
	background-color: #eee;
	overflow: hidden;
	
	img {
		position: absolute;
		top: 0;
		left: 50%;
		width: auto;
		height: 100%;
		height: calc(100% + 2px);
		transform: translateX(-50%);
	}
}

@media (min-width: @screen-md-min) {
	.page-header {
		&-heading {	
			margin-left: 25px;
			margin-top: 15px;
			font-size: 44px;

			> span span {
				display: inline;
			}
		}

		&-logo-teamprime {
			width: 207px;
			text-align: center;
		}
	}

	.page-header-logo-teamprime,
	.page-intro-logo {
		margin-right: 25px;
	}

	.file-list {
		.item {
			display: table;
			width: 100%;
		}

		.col {
			display: table-cell;
			vertical-align: middle;
			text-align: left;
		}

		.col + .col {
			margin-top: 0;
		}

		.col:first-child {
			width: 40%;
		}

		.col:last-child {
			width: 20%;
		}
	}
}